<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.NotificationMapper">
  <resultMap id="BaseResultMap" type="dto.NotificationDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="action_url" jdbcType="VARCHAR" property="actionUrl" />
    <result column="is_read" jdbcType="BOOLEAN" property="isRead" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="message" jdbcType="LONGVARCHAR" property="message" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from notifications
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="dto.NotificationDto">
    insert into notifications (id, member_id, type, 
      title, action_url, is_read, 
      created_at, message)
    values (#{id,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{actionUrl,jdbcType=VARCHAR}, #{isRead,jdbcType=BOOLEAN}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{message,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="dto.NotificationDto">
    update notifications
    set member_id = #{memberId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      action_url = #{actionUrl,jdbcType=VARCHAR},
      is_read = #{isRead,jdbcType=BOOLEAN},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      message = #{message,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, member_id, type, title, action_url, is_read, created_at, message
    from notifications
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, member_id, type, title, action_url, is_read, created_at, message
    from notifications
  </select>
</mapper>