<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.AdoptionContractMapper">
  <resultMap id="BaseResultMap" type="dto.AdoptionContractDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="application_id" jdbcType="INTEGER" property="applicationId" />
    <result column="animal_id" jdbcType="INTEGER" property="animalId" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="shelter_id" jdbcType="INTEGER" property="shelterId" />
    <result column="contract_date" jdbcType="DATE" property="contractDate" />
    <result column="adoption_date" jdbcType="DATE" property="adoptionDate" />
    <result column="contract_number" jdbcType="VARCHAR" property="contractNumber" />
    <result column="adoption_fee" jdbcType="DECIMAL" property="adoptionFee" />
    <result column="trial_period_days" jdbcType="INTEGER" property="trialPeriodDays" />
    <result column="contract_status" jdbcType="VARCHAR" property="contractStatus" />
    <result column="terminated_date" jdbcType="DATE" property="terminatedDate" />
    <result column="adopter_signature_date" jdbcType="DATE" property="adopterSignatureDate" />
    <result column="shelter_signature_date" jdbcType="DATE" property="shelterSignatureDate" />
    <result column="witness_name" jdbcType="VARCHAR" property="witnessName" />
    <result column="witness_contact" jdbcType="VARCHAR" property="witnessContact" />
    <result column="contract_file_url" jdbcType="VARCHAR" property="contractFileUrl" />
    <result column="return_policy" jdbcType="LONGVARCHAR" property="returnPolicy" />
    <result column="contract_terms" jdbcType="LONGVARCHAR" property="contractTerms" />
    <result column="special_conditions" jdbcType="LONGVARCHAR" property="specialConditions" />
    <result column="follow_up_schedule" jdbcType="LONGVARCHAR" property="followUpSchedule" />
    <result column="termination_reason" jdbcType="LONGVARCHAR" property="terminationReason" />
    <result column="additional_documents" jdbcType="LONGVARCHAR" property="additionalDocuments" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from adoption_contracts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="dto.AdoptionContractDto">
    insert into adoption_contracts (id, application_id, animal_id, 
      member_id, shelter_id, contract_date, 
      adoption_date, contract_number, adoption_fee, 
      trial_period_days, contract_status, terminated_date, 
      adopter_signature_date, shelter_signature_date, witness_name, 
      witness_contact, contract_file_url, return_policy, 
      contract_terms, special_conditions, 
      follow_up_schedule, termination_reason, 
      additional_documents)
    values (#{id,jdbcType=INTEGER}, #{applicationId,jdbcType=INTEGER}, #{animalId,jdbcType=INTEGER}, 
      #{memberId,jdbcType=INTEGER}, #{shelterId,jdbcType=INTEGER}, #{contractDate,jdbcType=DATE}, 
      #{adoptionDate,jdbcType=DATE}, #{contractNumber,jdbcType=VARCHAR}, #{adoptionFee,jdbcType=DECIMAL}, 
      #{trialPeriodDays,jdbcType=INTEGER}, #{contractStatus,jdbcType=VARCHAR}, #{terminatedDate,jdbcType=DATE}, 
      #{adopterSignatureDate,jdbcType=DATE}, #{shelterSignatureDate,jdbcType=DATE}, #{witnessName,jdbcType=VARCHAR}, 
      #{witnessContact,jdbcType=VARCHAR}, #{contractFileUrl,jdbcType=VARCHAR}, #{returnPolicy,jdbcType=LONGVARCHAR}, 
      #{contractTerms,jdbcType=LONGVARCHAR}, #{specialConditions,jdbcType=LONGVARCHAR}, 
      #{followUpSchedule,jdbcType=LONGVARCHAR}, #{terminationReason,jdbcType=LONGVARCHAR}, 
      #{additionalDocuments,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="dto.AdoptionContractDto">
    update adoption_contracts
    set application_id = #{applicationId,jdbcType=INTEGER},
      animal_id = #{animalId,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=INTEGER},
      shelter_id = #{shelterId,jdbcType=INTEGER},
      contract_date = #{contractDate,jdbcType=DATE},
      adoption_date = #{adoptionDate,jdbcType=DATE},
      contract_number = #{contractNumber,jdbcType=VARCHAR},
      adoption_fee = #{adoptionFee,jdbcType=DECIMAL},
      trial_period_days = #{trialPeriodDays,jdbcType=INTEGER},
      contract_status = #{contractStatus,jdbcType=VARCHAR},
      terminated_date = #{terminatedDate,jdbcType=DATE},
      adopter_signature_date = #{adopterSignatureDate,jdbcType=DATE},
      shelter_signature_date = #{shelterSignatureDate,jdbcType=DATE},
      witness_name = #{witnessName,jdbcType=VARCHAR},
      witness_contact = #{witnessContact,jdbcType=VARCHAR},
      contract_file_url = #{contractFileUrl,jdbcType=VARCHAR},
      return_policy = #{returnPolicy,jdbcType=LONGVARCHAR},
      contract_terms = #{contractTerms,jdbcType=LONGVARCHAR},
      special_conditions = #{specialConditions,jdbcType=LONGVARCHAR},
      follow_up_schedule = #{followUpSchedule,jdbcType=LONGVARCHAR},
      termination_reason = #{terminationReason,jdbcType=LONGVARCHAR},
      additional_documents = #{additionalDocuments,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, application_id, animal_id, member_id, shelter_id, contract_date, adoption_date, 
    contract_number, adoption_fee, trial_period_days, contract_status, terminated_date, 
    adopter_signature_date, shelter_signature_date, witness_name, witness_contact, contract_file_url, 
    return_policy, contract_terms, special_conditions, follow_up_schedule, termination_reason, 
    additional_documents
    from adoption_contracts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, application_id, animal_id, member_id, shelter_id, contract_date, adoption_date, 
    contract_number, adoption_fee, trial_period_days, contract_status, terminated_date, 
    adopter_signature_date, shelter_signature_date, witness_name, witness_contact, contract_file_url, 
    return_policy, contract_terms, special_conditions, follow_up_schedule, termination_reason, 
    additional_documents
    from adoption_contracts
  </select>
</mapper>