<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.MemberMapper">
	<select id="selectMemberByEmail" parameterType="String" resultType="memberDto">
		select * from members where email=#{email}
	</select> 
	
	<select id="selectMemberByUsername" parameterType="String" resultType="memberDto">
		select * from members where username=#{username}
	</select> 

	<update id="updatePassword" parameterType="Map">
		update members set password_hash=#{password} where email=#{email}
	</update>
	
	<update id="updateMemberByUsename" parameterType="memberDto">
		update members 
		set full_name=#{fullName},
		    nickname=#{nickname},
		    phone_number=#{phoneNumber},
		    bio=#{bio},
		    address=#{address},
		    detail_address=#{detailAddress},
		    profile_image_url=#{profileImageUrl}    
		where username=#{username}
	
	</update>

</mapper>